# 任务4：订单数据统计

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

## 订单数据统计

在订单数据中，我们希望完成以下统计：

- 巡游车订单距离与时间的对比（2019年与2020年）；  
- 巡游车空驶率对比（2019年与2020年）；  
- 网约车订单距离与时间的对比（2019年与2020年）；  
- 网约车空驶率对比（2019年与2020年）；  
1. 巡游车订单距离与时间的对比（2019年与2020年）

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import glob

In [21]:
%matplotlib

Using matplotlib backend: Qt5Agg

In [5]:
import matplotlib.pyplot as plt
from matplotlib import animation

In [ ]:
def barlist(n): 
    taxiorder2019 = pd.read_csv(paths[n], nrows=None,
                                   dtype = {
                                       'GETON_LONGITUDE': np.float32,
                                       'GETON_LATITUDE': np.float32,
                                       'GETOFF_LONGITUDE': np.float32,
                                       'GETOFF_LATITUDE': np.float32,
                                       'PASS_MILE': np.float16,
                                       'NOPASS_MILE': np.float16,
                                       'WAITING_TIME': np.float16
                                   })

    taxiorder2019['GETON_DATE'] = pd.to_datetime(taxiorder2019['GETON_DATE'])
    taxiorder2019['GETON_Hour'] = taxiorder2019['GETON_DATE'].dt.hour

    return taxiorder2019.groupby(['GETON_Hour'])['PASS_MILE'].mean().values

fig=plt.figure()

paths = glob.glob('taxiOrder20190*.csv')
paths.sort()
n = len(paths) #Number of frames
x = range(24)
barcollection = plt.bar(x,barlist(0))
plt.ylim(0, 8)

def animate(i):
    print(i)
    y=barlist(i+1)
    for idx, b in enumerate(barcollection):
        b.set_height(y[idx])
    plt.ylim(0, 8)

    print(i+1)
    plt.title(paths[i+1].split('/')[-1])
    plt.ylabel('PASS_MILE / KM')
    plt.xlabel('Hour')

anim=animation.FuncAnimation(fig,animate,repeat=False,blit=False,frames=n-1,
                             interval=500)

anim.save('order.gif', dpi=150)

2. 巡游车空驶率对比（2019年与2020年）；

In [11]:
# 2019年数据
paths = glob.glob('taxiOrder20190*.csv')
paths.sort()
for path in paths:
    taxiorder2019 = pd.read_csv(path, nrows=None,
                               dtype = {
                                   'GETON_LONGITUDE': np.float32,
                                   'GETON_LATITUDE': np.float32,
                                   'GETOFF_LONGITUDE': np.float32,
                                   'GETOFF_LATITUDE': np.float32,
                                   'PASS_MILE': np.float16,
                                   'NOPASS_MILE': np.float16,
                                   'WAITING_TIME': np.float16
                               })


    taxiorder2019 = taxiorder2019[['NOPASS_MILE', 'PASS_MILE']].dropna()
    taxiorder2019['NOPASS_Ratio'] = taxiorder2019['NOPASS_MILE'] / (taxiorder2019['NOPASS_MILE'] + taxiorder2019['PASS_MILE'])

    print(path, taxiorder2019['NOPASS_Ratio'].astype(np.float32).mean())

taxiOrder20190531.csv 0.27126261591911316
taxiOrder20190601.csv 0.27297645807266235
taxiOrder20190602.csv 0.303022563457489
taxiOrder20190603.csv 0.31049206852912903
taxiOrder20190604.csv 0.3039427697658539
taxiOrder20190605.csv 0.293332576751709
taxiOrder20190606.csv 0.25473082065582275
taxiOrder20190607.csv 0.2845325171947479
taxiOrder20190608.csv 0.3049909770488739
taxiOrder20190609.csv 0.31149551272392273

In [13]:
# 2020年数据
paths = glob.glob('taxiOrder20200*.csv')
paths.sort()
for path in paths:
    taxiorder2019 = pd.read_csv(path, nrows=None,
                               dtype = {
                                   'GETON_LONGITUDE': np.float32,
                                   'GETON_LATITUDE': np.float32,
                                   'GETOFF_LONGITUDE': np.float32,
                                   'GETOFF_LATITUDE': np.float32,
                                   'PASS_MILE': np.float16,
                                   'NOPASS_MILE': np.float16,
                                   'WAITING_TIME': np.float16
                               })


    taxiorder2019 = taxiorder2019[['NOPASS_MILE', 'PASS_MILE']].dropna()
    taxiorder2019['NOPASS_Ratio'] = taxiorder2019['NOPASS_MILE'] / (taxiorder2019['NOPASS_MILE'] + taxiorder2019['PASS_MILE'])

    print(path, taxiorder2019['NOPASS_Ratio'].astype(np.float32).mean())

3. 网约车订单距离与时间的对比（2019年与2020年）；

4. 网约车空驶率对比（2019年与2020年）；

In [15]:
# 2019年
paths = glob.glob('wycOrder2019*.csv')
paths.sort()
for path in paths:
    wycorder2019 = pd.read_csv(path, nrows=None,
                            dtype={
                                'DEP_LONGITUDE': np.float32,
                                'DEP_LATITUDE': np.float32,
                                'DEST_LONGITUDE': np.float32,
                                'DEST_LATITUDE': np.float32,
                            })
    wycorder2019 = wycorder2019.rename(columns={'CAR_NO':'CARNO'})
    wycorder2019['DEP_TIME'] = pd.to_datetime(wycorder2019['DEP_TIME'])

    wycorder2019 = wycorder2019[['WAIT_MILE', 'DRIVE_MILE']]
    wycorder2019['NOPASS_Ratio'] = wycorder2019['WAIT_MILE'] / (wycorder2019['DRIVE_MILE'] + wycorder2019['WAIT_MILE'])

    print(path, wycorder2019['NOPASS_Ratio'].mean())

wycOrder20190531.csv 0.043773519023839115
wycOrder20190601.csv 0.05089443118832654
wycOrder20190602.csv 0.05027405204548952
wycOrder20190603.csv 0.04410937618481347
wycOrder20190604.csv 0.04556210882875604
wycOrder20190605.csv 0.04429180248143744
wycOrder20190606.csv 0.050471234377955095
wycOrder20190607.csv 0.06292328749500457
wycOrder20190608.csv 0.051548027097756174
wycOrder20190609.csv 0.05645411864784152

In [16]:
paths = glob.glob('wycOrder2020*.csv')
paths.sort()
for path in paths:
    wycorder2019 = pd.read_csv(path, nrows=None, sep='\\',
                            dtype={
                                'DEP_LONGITUDE': np.float32,
                                'DEP_LATITUDE': np.float32,
                                'DEST_LONGITUDE': np.float32,
                                'DEST_LATITUDE': np.float32,
                            })
    wycorder2019 = wycorder2019.rename(columns={'CAR_NO':'CARNO'})
    wycorder2019['DEP_TIME'] = pd.to_datetime(wycorder2019['DEP_TIME'])

    wycorder2019 = wycorder2019[wycorder2019['DRIVE_MILE'].apply(lambda x: '-' not in str(x) and '|' not in str(x) and 
                                                                   '路' not in str(x))]
    wycorder2019['DRIVE_MILE'] = wycorder2019['DRIVE_MILE'].astype(float)
    wycorder2019['WAIT_MILE'] = wycorder2019['WAIT_MILE'].astype(float)

    wycorder2019 = wycorder2019[['WAIT_MILE', 'DRIVE_MILE']].dropna()
    wycorder2019['NOPASS_Ratio'] = wycorder2019['WAIT_MILE'] / (wycorder2019['DRIVE_MILE'] + wycorder2019['WAIT_MILE'] + 0.1)

    print(path, wycorder2019['NOPASS_Ratio'].mean())

E:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

wycOrder20200618.csv 0.03663759995571136
wycOrder20200619.csv 0.03830323701116428

E:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

wycOrder20200620.csv 0.042812921736015475

E:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

wycOrder20200621.csv 0.049643219579652176
wycOrder20200622.csv 0.03599123977888788
wycOrder20200623.csv 0.035535909940606264
wycOrder20200624.csv 0.0406342118123763
wycOrder20200625.csv 0.0517790335437724
wycOrder20200626.csv 0.04035187796069984
wycOrder20200627.csv 0.0470627857622948

## 打卡任务

1. 对比分析2019与2020年端午假期前一天（🤔分别对应哪一天？），巡游车日平均速度变化，上升还是下降？

【分析】2019年端午是0607，2020年端午是0625，前一天就分别是20190606和20200624，分别算出他们的平均速度比较即可

In [148]:
taxigps20190606=pd.read_csv('taxiGps20190606.csv')

In [155]:
taxigps20200624=pd.read_csv('taxiGps20200624.csv')

In [152]:
taxigps20190606.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17090210 entries, 0 to 17090209
Data columns (total 7 columns):
OPERATING_STATUS     int64
GPS_SPEED            float64
DRIVING_DIRECTION    int64
GPS_TIME             object
LONGITUDE            float64
LATITUDE             float64
CARNO                object
dtypes: float64(3), int64(2), object(2)
memory usage: 912.7+ MB

In [154]:
taxigps20190606['GPS_SPEED'].mean()

18.85687002091995

In [156]:
taxigps20200624['GPS_SPEED'].mean()

16.422890546061467

In [24]:
taxiorder20190606=pd.read_csv('taxiOrder20190606.csv')

In [123]:
taxiorder20200624=pd.read_csv('taxiOrder20200624.csv')

In [27]:
taxiorder20190606[taxiorder20190606['PASS_MILE']==0]

,CAR_NO,GETON_DATE,GETON_LONGITUDE,GETON_LATITUDE,GETOFF_DATE,GETOFF_LONGITUDE,GETOFF_LATITUDE,PASS_MILE,NOPASS_MILE,WAITING_TIME
87,d11b61814cfa16a633327894276ee5d8,2019-06-06 00:46:00,118.140545,24.492556,2019-06-06 00:48:00,118.141290,24.492388,0.0,5.3,103
1590,40e261588274bc116ff9b3f59819944f,2019-06-06 00:09:00,118.103648,24.481463,2019-06-06 00:10:00,118.103648,24.481463,0.0,8.2,50
1753,0e93ff10764dba821c5374c275fa2cc2,2019-06-06 00:34:00,118.169648,24.489933,2019-06-06 00:44:00,118.169628,24.489908,0.0,3.6,600
2001,e3f4dd3b914aa26fc69bdfd0ee89b84f,2019-06-06 00:30:00,118.136260,24.494233,2019-06-06 00:30:00,118.136260,24.494233,0.0,8.2,30
2123,8a90a1144f33258d0b6ee533d1072908,2019-06-06 00:29:00,118.074146,24.452293,2019-06-06 00:33:00,118.073798,24.452365,0.0,0.0,212
...,...,...,...,...,...,...,...,...,...,...
243753,bf4d8a3096fabddb0636b7838cc1e831,2019-06-06 22:20:00,118.081330,24.464630,2019-06-07 01:15:00,118.081172,24.464323,0.0,13.8,10440
244792,c4c200bdbf9a0b217e551f8c35dd7da9,2019-06-06 02:29:00,0.000000,0.000000,2019-06-06 02:30:00,0.000000,0.000000,0.0,3.7,43
245574,59530f01e5bf55949bc980ed8a9f0ccb,2019-06-06 12:40:00,0.000000,0.000000,2019-06-06 13:09:00,118.069845,24.456068,0.0,5.4,1747
245576,59530f01e5bf55949bc980ed8a9f0ccb,2019-06-06 11:29:00,0.000000,0.000000,2019-06-06 12:05:00,118.070038,24.456271,0.0,7.7,2105
245584,67c10585dbbd1ffc1f74f91093ff51cf,2019-06-06 05:00:00,118.153280,24.478338,2019-06-06 05:47:00,118.153078,24.477961,0.0,5.7,2760

In [29]:
taxiorder20190606.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245630 entries, 0 to 245629
Data columns (total 10 columns):
CAR_NO              245630 non-null object
GETON_DATE          245630 non-null object
GETON_LONGITUDE     245630 non-null float64
GETON_LATITUDE      245630 non-null float64
GETOFF_DATE         245630 non-null object
GETOFF_LONGITUDE    245630 non-null float64
GETOFF_LATITUDE     245630 non-null float64
PASS_MILE           245630 non-null float64
NOPASS_MILE         245630 non-null float64
WAITING_TIME        245630 non-null int64
dtypes: float64(6), int64(1), object(3)
memory usage: 18.7+ MB

In [30]:
taxiorder20190606['GETON_DATE']=pd.to_datetime(taxiorder20190606['GETON_DATE'])
taxiorder20190606['GETOFF_DATE']=pd.to_datetime(taxiorder20190606['GETOFF_DATE'])

In [49]:
taxiorder20190606

,CAR_NO,GETON_DATE,GETON_LONGITUDE,GETON_LATITUDE,GETOFF_DATE,GETOFF_LONGITUDE,GETOFF_LATITUDE,PASS_MILE,NOPASS_MILE,WAITING_TIME
0,91856bf24bf21e5a65fc254ca559ea5d,2019-06-06 01:17:00,0.000000,0.000000,2019-06-06 01:22:00,0.000000,0.000000,1.7,1.4,60
1,91856bf24bf21e5a65fc254ca559ea5d,2019-06-06 00:55:00,118.154910,24.478845,2019-06-06 01:13:00,0.000000,0.000000,9.4,3.8,240
2,91856bf24bf21e5a65fc254ca559ea5d,2019-06-06 00:35:00,118.119772,24.481605,2019-06-06 00:47:00,118.176425,24.463628,7.7,2.8,120
3,91856bf24bf21e5a65fc254ca559ea5d,2019-06-06 03:41:00,0.000000,0.000000,2019-06-06 03:52:00,118.071350,24.455893,8.1,0.0,60
4,91856bf24bf21e5a65fc254ca559ea5d,2019-06-06 05:28:00,118.183114,24.482270,2019-06-06 05:32:00,118.175863,24.476022,1.2,2.5,60
...,...,...,...,...,...,...,...,...,...,...
245625,8f67c648ac2c033647f7bea84f6d1fa6,2019-06-06 22:04:00,118.101962,24.475628,2019-06-06 22:20:00,118.105955,24.496095,3.9,3.3,420
245626,8f67c648ac2c033647f7bea84f6d1fa6,2019-06-06 22:34:00,118.083137,24.461620,2019-06-06 22:37:00,118.080250,24.454005,1.1,0.4,0
245627,8f67c648ac2c033647f7bea84f6d1fa6,2019-06-06 11:22:00,118.082398,24.455462,2019-06-06 11:34:00,118.097223,24.487562,4.7,0.0,240
245628,8f67c648ac2c033647f7bea84f6d1fa6,2019-06-06 14:00:00,118.159608,24.531183,2019-06-06 14:20:00,118.110558,24.492588,8.5,1.0,300
245629,8f67c648ac2c033647f7bea84f6d1fa6,2019-06-06 14:26:00,118.112437,24.497123,2019-06-06 14:41:00,118.148902,24.521187,6.7,1.1,240

In [32]:
taxiorder20190606.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245630 entries, 0 to 245629
Data columns (total 10 columns):
CAR_NO              245630 non-null object
GETON_DATE          245630 non-null datetime64[ns]
GETON_LONGITUDE     245630 non-null float64
GETON_LATITUDE      245630 non-null float64
GETOFF_DATE         245630 non-null datetime64[ns]
GETOFF_LONGITUDE    245630 non-null float64
GETOFF_LATITUDE     245630 non-null float64
PASS_MILE           245630 non-null float64
NOPASS_MILE         245630 non-null float64
WAITING_TIME        245630 non-null int64
dtypes: datetime64[ns](2), float64(6), int64(1), object(1)
memory usage: 18.7+ MB

In [41]:
Time=taxiorder20190606['GETOFF_DATE']-taxiorder20190606['GETON_DATE']

In [112]:
Time.dt.seconds

0          300
1         1080
2          720
3          660
4          240
          ...
245625     960
245626     180
245627     720
245628    1200
245629     900
Length: 245630, dtype: int64

In [113]:
Time.dt.seconds/60

0          5.0
1         18.0
2         12.0
3         11.0
4          4.0
          ...
245625    16.0
245626     3.0
245627    12.0
245628    20.0
245629    15.0
Length: 245630, dtype: float64

In [55]:
Time_hours=Time.dt.seconds/3600

In [114]:
Time_hours

0         0.083333
1         0.300000
2         0.200000
3         0.183333
4         0.066667
            ...
245625    0.266667
245626    0.050000
245627    0.200000
245628    0.333333
245629    0.250000
Length: 245630, dtype: float64

In [56]:
taxiorder20190606['SPEED_MEAN']=(taxiorder20190606['PASS_MILE']+taxiorder20190606['NOPASS_MILE'])/Time_hours

In [146]:
taxiorder20190606['SPEED_MEAN']=round(taxiorder20190606['SPEED_MEAN'],3)

In [147]:
taxiorder20190606

,CAR_NO,GETON_DATE,GETON_LONGITUDE,GETON_LATITUDE,GETOFF_DATE,GETOFF_LONGITUDE,GETOFF_LATITUDE,PASS_MILE,NOPASS_MILE,WAITING_TIME,SPEED_MEAN
0,91856bf24bf21e5a65fc254ca559ea5d,2019-06-06 01:17:00,0.000000,0.000000,2019-06-06 01:22:00,0.000000,0.000000,1.7,1.4,60,37.200001
1,91856bf24bf21e5a65fc254ca559ea5d,2019-06-06 00:55:00,118.154910,24.478845,2019-06-06 01:13:00,0.000000,0.000000,9.4,3.8,240,44.000000
2,91856bf24bf21e5a65fc254ca559ea5d,2019-06-06 00:35:00,118.119772,24.481605,2019-06-06 00:47:00,118.176425,24.463628,7.7,2.8,120,52.500000
3,91856bf24bf21e5a65fc254ca559ea5d,2019-06-06 03:41:00,0.000000,0.000000,2019-06-06 03:52:00,118.071350,24.455893,8.1,0.0,60,44.181999
4,91856bf24bf21e5a65fc254ca559ea5d,2019-06-06 05:28:00,118.183114,24.482270,2019-06-06 05:32:00,118.175863,24.476022,1.2,2.5,60,55.500000
...,...,...,...,...,...,...,...,...,...,...,...
245625,8f67c648ac2c033647f7bea84f6d1fa6,2019-06-06 22:04:00,118.101962,24.475628,2019-06-06 22:20:00,118.105955,24.496095,3.9,3.3,420,27.000000
245626,8f67c648ac2c033647f7bea84f6d1fa6,2019-06-06 22:34:00,118.083137,24.461620,2019-06-06 22:37:00,118.080250,24.454005,1.1,0.4,0,30.000000
245627,8f67c648ac2c033647f7bea84f6d1fa6,2019-06-06 11:22:00,118.082398,24.455462,2019-06-06 11:34:00,118.097223,24.487562,4.7,0.0,240,23.500000
245628,8f67c648ac2c033647f7bea84f6d1fa6,2019-06-06 14:00:00,118.159608,24.531183,2019-06-06 14:20:00,118.110558,24.492588,8.5,1.0,300,28.500000
245629,8f67c648ac2c033647f7bea84f6d1fa6,2019-06-06 14:26:00,118.112437,24.497123,2019-06-06 14:41:00,118.148902,24.521187,6.7,1.1,240,31.200001

In [88]:
taxiorder20190606.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245630 entries, 0 to 245629
Data columns (total 11 columns):
CAR_NO              245630 non-null object
GETON_DATE          245630 non-null datetime64[ns]
GETON_LONGITUDE     245630 non-null float64
GETON_LATITUDE      245630 non-null float64
GETOFF_DATE         245630 non-null datetime64[ns]
GETOFF_LONGITUDE    245630 non-null float64
GETOFF_LATITUDE     245630 non-null float64
PASS_MILE           245630 non-null float64
NOPASS_MILE         245630 non-null float64
WAITING_TIME        245630 non-null int64
SPEED_MEAN          245620 non-null float32
dtypes: datetime64[ns](2), float32(1), float64(6), int64(1), object(1)
memory usage: 19.7+ MB

In [92]:
taxiorder20190606['SPEED_MEAN']=taxiorder20190606['SPEED_MEAN'].astype('float32')

In [145]:
taxiorder20190606['SPEED_MEAN'].loc[:1000].mean()

66.08035278320312

In [97]:
taxiorder20190606['SPEED_MEAN'].values

array([37.2, 44. , 52.5, ..., 23.5, 28.5, 31.2], dtype=float32)

In [124]:
taxiorder20200624['GETON_DATE']=pd.to_datetime(taxiorder20200624['GETON_DATE'])
taxiorder20200624['GETOFF_DATE']=pd.to_datetime(taxiorder20200624['GETOFF_DATE'])

In [125]:
taxiorder20200624

,CAR_NO,GETON_DATE,GETON_LONGITUDE,GETON_LATITUDE,GETOFF_DATE,GETOFF_LONGITUDE,GETOFF_LATITUDE,PASS_MILE,NOPASS_MILE,WAITING_TIME
0,8027f4a721c705d7723bec901dc0962d,2020-06-24 08:34:00,0.000000,0.000000,2020-06-24 08:58:00,0.000000,0.000000,8.6,0.0,528.0
1,a71c64a5992ce1dbc58d25268c91631d,2020-06-24 09:48:00,0.000000,0.000000,2020-06-24 10:06:00,0.000000,0.000000,12.7,12.0,120.0
2,aa805c58299897f971c169b5b0513741,2020-06-24 00:57:00,0.000000,0.000000,2020-06-24 01:05:00,0.000000,0.000000,3.7,15.4,120.0
3,ed953b24a5b80dd72f11e1f1b1a9bed2,2020-06-24 22:11:00,118.157833,24.544792,2020-06-24 22:31:00,118.098937,24.469602,13.7,1.6,180.0
4,8027f4a721c705d7723bec901dc0962d,2020-06-24 16:48:00,0.000000,0.000000,2020-06-24 16:51:00,0.000000,0.000000,1.5,3.4,85.0
...,...,...,...,...,...,...,...,...,...,...
216004,9b4802bcb6344a5772814557428aee85,2020-06-24 14:00:00,118.150975,24.526090,2020-06-24 14:19:00,118.116430,24.483363,9.0,0.5,307.0
216005,decdf4529456abf76405ce5a4384ada4,2020-06-24 14:07:00,118.080962,24.458462,2020-06-24 14:17:00,118.088042,24.441850,2.8,1.5,240.0
216006,4ca94ce7f7eb6e7bdd929c70a3cf40a0,2020-06-24 14:03:00,118.170863,24.507551,2020-06-24 14:18:00,118.107251,24.534071,10.5,4.6,91.0
216007,5b8cc2c932ae5ec06bb3ef88b8c5a68c,2020-06-24 14:02:00,118.141986,24.496403,2020-06-24 14:18:00,118.082091,24.443128,11.3,10.1,103.0
216008,b29f1bd814c0807020c1800664c99c0e,2020-06-24 14:14:00,118.155020,24.506101,2020-06-24 14:17:00,118.157758,24.517908,1.5,14.9,47.0

In [126]:
Time_hours1=(taxiorder20200624['GETOFF_DATE']-taxiorder20200624['GETON_DATE']).dt.seconds/3600

In [127]:
Time_hours1

0         0.400000
1         0.300000
2         0.133333
3         0.333333
4         0.050000
            ...
216004    0.316667
216005    0.166667
216006    0.250000
216007    0.266667
216008    0.050000
Length: 216009, dtype: float64

In [128]:
taxiorder20200624['SPEED_MEAN']=(taxiorder20200624['PASS_MILE']+taxiorder20200624['NOPASS_MILE'])/Time_hours1

In [129]:
taxiorder20200624

,CAR_NO,GETON_DATE,GETON_LONGITUDE,GETON_LATITUDE,GETOFF_DATE,GETOFF_LONGITUDE,GETOFF_LATITUDE,PASS_MILE,NOPASS_MILE,WAITING_TIME,SPEED_MEAN
0,8027f4a721c705d7723bec901dc0962d,2020-06-24 08:34:00,0.000000,0.000000,2020-06-24 08:58:00,0.000000,0.000000,8.6,0.0,528.0,21.500000
1,a71c64a5992ce1dbc58d25268c91631d,2020-06-24 09:48:00,0.000000,0.000000,2020-06-24 10:06:00,0.000000,0.000000,12.7,12.0,120.0,82.333333
2,aa805c58299897f971c169b5b0513741,2020-06-24 00:57:00,0.000000,0.000000,2020-06-24 01:05:00,0.000000,0.000000,3.7,15.4,120.0,143.250000
3,ed953b24a5b80dd72f11e1f1b1a9bed2,2020-06-24 22:11:00,118.157833,24.544792,2020-06-24 22:31:00,118.098937,24.469602,13.7,1.6,180.0,45.900000
4,8027f4a721c705d7723bec901dc0962d,2020-06-24 16:48:00,0.000000,0.000000,2020-06-24 16:51:00,0.000000,0.000000,1.5,3.4,85.0,98.000000
...,...,...,...,...,...,...,...,...,...,...,...
216004,9b4802bcb6344a5772814557428aee85,2020-06-24 14:00:00,118.150975,24.526090,2020-06-24 14:19:00,118.116430,24.483363,9.0,0.5,307.0,30.000000
216005,decdf4529456abf76405ce5a4384ada4,2020-06-24 14:07:00,118.080962,24.458462,2020-06-24 14:17:00,118.088042,24.441850,2.8,1.5,240.0,25.800000
216006,4ca94ce7f7eb6e7bdd929c70a3cf40a0,2020-06-24 14:03:00,118.170863,24.507551,2020-06-24 14:18:00,118.107251,24.534071,10.5,4.6,91.0,60.400000
216007,5b8cc2c932ae5ec06bb3ef88b8c5a68c,2020-06-24 14:02:00,118.141986,24.496403,2020-06-24 14:18:00,118.082091,24.443128,11.3,10.1,103.0,80.250000
216008,b29f1bd814c0807020c1800664c99c0e,2020-06-24 14:14:00,118.155020,24.506101,2020-06-24 14:17:00,118.157758,24.517908,1.5,14.9,47.0,328.000000

In [138]:
taxiorder20200624.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 216009 entries, 0 to 216008
Data columns (total 11 columns):
CAR_NO              216009 non-null object
GETON_DATE          216009 non-null datetime64[ns]
GETON_LONGITUDE     216009 non-null float64
GETON_LATITUDE      216009 non-null float64
GETOFF_DATE         216009 non-null datetime64[ns]
GETOFF_LONGITUDE    216009 non-null float64
GETOFF_LATITUDE     216009 non-null float64
PASS_MILE           216009 non-null float64
NOPASS_MILE         216009 non-null float64
WAITING_TIME        216009 non-null float64
SPEED_MEAN          216004 non-null float64
dtypes: datetime64[ns](2), float64(8), object(1)
memory usage: 18.1+ MB

In [141]:
taxiorder20200624['SPEED_MEAN'].loc[:600].mean()

42.35151395286307

In [108]:
taxiorder20200624['SPEED_MEAN'].dtype

dtype('float64')

In [ ]:
【回答】下降

2. 对比分析2019年端午假期前、端午假期中和假期后，巡游车日平均速度变化，变化趋势是？

【分析】数据只有端午假期前和端午假期中的，同样求几天的日平均速度变化比较即可

In [157]:
df2 = taxigps2019_2 = pd.concat([
    pd.read_csv(x,dtype = {
                             'DRIVING_DIRECTION': np.uint16,
                             'OPERATING_STATUS': np.uint8,
                             'LONGITUDE': np.float32,
                             'LATITUDE': np.float32,
                             'GPS_SPEED': np.float32 
                         }) for x in [
        'taxiGps20190607.csv',
        'taxiGps20190608.csv',
        'taxiGps20190609.csv'
    ]
])

In [159]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71083175 entries, 0 to 23586936
Data columns (total 7 columns):
OPERATING_STATUS     uint8
GPS_SPEED            float32
DRIVING_DIRECTION    uint16
GPS_TIME             object
LONGITUDE            float32
LATITUDE             float32
CARNO                object
dtypes: float32(3), object(2), uint16(1), uint8(1)
memory usage: 2.6+ GB

In [161]:
df2['GPS_SPEED'].mean()

15.585306167602539

In [160]:
df1 = taxigps2019_1 = pd.concat([
    pd.read_csv(x,dtype = {
                             'DRIVING_DIRECTION': np.uint16,
                             'OPERATING_STATUS': np.uint8,
                             'LONGITUDE': np.float32,
                             'LATITUDE': np.float32,
                             'GPS_SPEED': np.float32 
                         }) for x in [
        'taxiGps20190531.csv',
        'taxiGps20190601.csv',
        'taxiGps20190602.csv',
        'taxiGps20190603.csv',
        'taxiGps20190604.csv',
        'taxiGps20190605.csv',
        'taxiGps20190606.csv'
        
    ]
])

In [162]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113771320 entries, 0 to 17090209
Data columns (total 7 columns):
OPERATING_STATUS     uint8
GPS_SPEED            float32
DRIVING_DIRECTION    uint16
GPS_TIME             object
LONGITUDE            float32
LATITUDE             float32
CARNO                object
dtypes: float32(3), object(2), uint16(1), uint8(1)
memory usage: 4.1+ GB

In [163]:
df1['GPS_SPEED'].mean()

11.446281433105469

【回答】端午假期中和端午假期前相比，巡游车日平均速度上升。